.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.viewsName {
  display: inline-block;
  border-color: #020205;
  background-color: #fafafa;
  color: #020205;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  transition: 0.2s;
  width: 150px;
}

.viewsName:hover {
  background-color: #020205;
  color: #fafafa;
}

.translate {
  border-color: #020205;
  background-color: #fafafa;
  color: #020205;
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s;
  width: min-content; 
  height: min-content;
}

.translate:hover {
  background-color: #020205;
  color: #fafafa;
  border: solid 2px transparent;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  cursor: default;
}