.editor-container {
  display: flex;
  height: 86vh;
  /* Set the editor container to occupy full viewport height */
}

.left-column,
.right-column {
  flex: 1;
  /* Allow all columns to take up equal space */
  padding: 10px;
  border: 1px solid #ccc;
  /*overflow: hidden; /* Hide any content that overflows */
}

.middle-column {
  flex: 2;
  /* Let the middle column take up twice the space of other columns */
  overflow-y: scroll;
  /* Add vertical scroll bar */
}

/* Optional: Add some styles to make the columns visually distinct */
.left-column {
  background-color: #f9f9f9;
}

.middle-column {
  background-color: #fff;
}

.right-column {
  background-color: #f9f9f9;
  margin: 0;
}

.alert {
  border-radius: 6px;
  padding: 12px 16px;
  background-color: hsl(204 100% 97%);
  color: hsl(201 96% 32%);
  font-size: 16px;
}

.underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: red;
}
/* Kobalte Dropdown styles */
.dropdown-menu__trigger {
  display: inline-flex;
  align-items: center;
  background-color: #020205;
  color: #fafafa;
  padding: 0.25rem 1.25rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.dropdown-menu__trigger_text {
  font-weight: 700;
  color: #fafafa;
}

/* Editor custom plugin placeholder highligh depends on this */
.placeholder-highlight {
  color: #ff8c00;
  font-weight: bold;
  border-radius: 3px;
  padding: 0 2px;
}
/*-----------------------------------------------------------*/

.context-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  height: 3rem;
}

.context-row > * + * {
  margin-left: 0.5rem;
}

.context-row-actions {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 0.25rem;
}

.breadcrumbs {
  overflow-x: scroll;
}

.btn {
  font: inherit;
  border-width: 2px;
  background-color: rgb(0 0 0);
  color: rgb(255 255 255);
  font-weight: 700;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  height: auto;
  white-space: nowrap;
}

.btn:hover {
  /* background-color: rgb(255 255 255);
  color: rgb(0 0 0); */
  cursor: pointer;
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.btn:disabled {
  background-color: rgb(255 255 255);
  color: rgb(0 0 0);
  cursor: not-allowed;
}

.btn:disabled:hover {
  /* background-color: rgb(0 0 0);
  color: rgb(255 255 255); */
  cursor: not-allowed;
}

.dropdown-menu__content {
  background-color: #020205;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  color: #fafafa;
}

.dropdown-menu__radio-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  position: relative;
  color: #fafafa;
  font-weight: 700;
  font-size: 1.125rem;
}

.dropdown-menu__radio-item:hover {
  background-color: #020205;
}

.dropdown-menu__item-indicator {
  position: absolute;
  left: 8px;
  opacity: 0;
  cursor: pointer;
}

.dropdown-menu__radio-item[data-highlighted] .dropdown-menu__item-indicator {
  opacity: 1;
}

.dropdown-menu__radio-item--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.dropdown-menu__radio-item--disabled:hover {
  background-color: transparent;
}

/* Kobalte Breadcrumbs styles */
.breadcrumbs {
  /* hey */
}

.breadcrumbs__list {
  display: inline-flex;
  align-items: center;
  padding: 0;
}
.breadcrumbs__item {
  display: inline-flex;
  align-items: center;
}
.breadcrumbs__link {
  font-weight: 500;
  color: hsl(240 4% 16%);
}
.breadcrumbs__link[data-disabled] {
  color: hsl(240 4% 46%);
}
.breadcrumbs__link:hover {
  color: hsl(201 96% 32%);
}
.breadcrumbs__link[data-current] {
  font-weight: 400;
}
.breadcrumbs__separator {
  display: inline-block;
  margin: 0 4px;
  color: hsl(240 5% 65%);
}
.btn-dashboard:hover {
  background-color: rgb(0 0 0);
  color: rgb(255 255 255);
}

.btn-dashboard:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

/* Kobalte Dropdown styles */
.dropdown-menu__content {
  background-color: #020205;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  color: #fafafa;
}

.dropdown-menu__radio-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  position: relative;
  color: #fafafa;
  font-weight: 700;
  font-size: 1.125rem;
}

.dropdown-menu__radio-item:hover {
  background-color: #020205;
}

.dropdown-menu__item-indicator {
  position: absolute;
  left: 8px;
  opacity: 0;
  cursor: pointer;
}

.dropdown-menu__radio-item[data-highlighted] .dropdown-menu__item-indicator {
  opacity: 1;
}

.dropdown-menu__radio-item--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.dropdown-menu__radio-item--disabled:hover {
  background-color: transparent;
}

/* Kobalte Breadcrumbs styles */
.breadcrumbs__list {
  display: inline-flex;
  align-items: center;
}
.breadcrumbs__item {
  display: inline-flex;
  align-items: center;
}
.breadcrumbs__link {
  font-weight: 500;
  color: hsl(240 4% 16%);
}
.breadcrumbs__link[data-disabled] {
  color: hsl(240 4% 46%);
}
.breadcrumbs__link:hover {
  color: hsl(201 96% 32%);
}
.breadcrumbs__link[data-current] {
  font-weight: 400;
}
.breadcrumbs__separator {
  display: inline-block;
  margin: 0 4px;
  color: hsl(240 5% 65%);
}
