@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --body-text-linear: clamp(1.125rem, 1.0523rem + 0.3231vw, 1.44rem);

  --body-2-text-linear: clamp(1rem, 0.9538rem + 0.2051vw, 1.2rem);

  --h1-text-linear: clamp(2.0275rem, 1.8062rem + 0.9833vw, 2.98625rem);

  --h2-text-linear: clamp(1.42375rem, 1.3535rem + 0.3122vw, 1.72813rem);

  --h3-text-linear: clamp(1.80188rem, 1.6435rem + 0.7038vw, 2.48813rem);

  --h4-text-linear: clamp(1.42375rem, 1.3535rem + 0.3122vw, 1.72813rem);

  --h4-alt-text-linear: clamp(2.28063rem, 1.9801rem + 1.3359vw, 3.58313rem);
}

.lightMode {
  --background-color: #F0F0F0;

  --primary-text: #000000;
  --secondary-text: #006A67;

  --primary-color: #C7D5EF;
  --secondary-color: #E0E0E0;

  --card-color: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.darkMode {
  --background-color: #292929;

  --primary-text: #FFFFFF;
  --secondary-text: #6A679E;

  --primary-color: #5D54A4;
  --secondary-color: #121212;

  --card-color: linear-gradient(270deg, var(--primary-color), var(--secondary-text));
}

body {
  margin: 0;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);

  transition: all 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}