.file-node {
  display: flex;
  flex-direction: column;
}

.file-node-btn {
  display: flex;
  flex-direction: row;
}

.file-node-btn-selected{
  font-weight: bold;
}

.file-node-btn-icon {
  margin-right: 0.5rem;
}

.file-node-container {
  transition: all;
  transition-duration: 500ms;
  overflow: hidden;
  display: grid;
}

.file-node-container-expanded {
  grid-template-rows: 1fr;
}

.file-node-container-collapsed {

  grid-template-rows: 0fr;
}

.file-node-list {
  margin-left: 1rem;
  min-height: 0px;
}

.context-menu {
  background-color: var(--background-color);
  border-color: lightgray;
  border-radius: 0.25rem;
  border-width: 1px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: var(--primary-text);
}

.context-menu-ul {
  padding: 0.25rem;
}

.context-menu-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: inherit;
}

.context-menu-item:hover {
  background-color: lightgray;
}

.file-tree {
  width: 25%;
  max-height: 100vh;
  overflow: auto;
  background-color: var(--background-color);
  color: var(--primary-text);
}

.file-tree-item {
  margin-left: 1rem;
}
