.toggle-container {
  --icon-size: 1.3em;
  --transition-time: 0.8s;
  --transition-delay: 0.6s;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.toggle-container input {
  position: absolute;
  opacity: 0;
}

.sun {
  position: absolute;
  font-size: var(--icon-size);
  color: #666;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  transform: scale(0);
  transition: var(--transition-time) ease;
}

.toggle-container input:checked ~ .sun {
  transition-delay: var(--transition-delay);
  transform: scale(1) rotate(360deg);
}

.moon {
  font-size: var(--icon-size);
  color: #d9d8d8;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  transition: var(--transition-time) ease;
  transition-delay: var(--transition-delay);
}

.toggle-container input:checked ~ .moon {
  transition-delay: 0s;
  transform: rotate(360deg) scale(0);
}

.toggle {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  box-shadow:
    inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  z-index: -1;
  transition: var(--transition-time);
}

.toggle-container input[value~="light"] ~ .toggle {
  background-color: #f8f8f8;
}

.toggle-container input[value~="dark"] ~ .toggle {
  background-color: #2b2b2b;
}
